<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Questions</title>
    <th:block th:replace="admin/admin_partials :: links_and_scripts" ></th:block>
</head>
<body>



<th:block th:replace="admin/admin_partials :: admin_navbar_questions"></th:block>

<div id="question_modal" class="modal noScrollBar">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>




<main id="question_feed">
    <div style="position: fixed; top: 50%; left: 50%; margin-top: -50px; margin-left: -50px">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle">
                    </div>
                </div>
                <div class="gap-patch">
                    <div class="circle">
                    </div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle">
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


<script>
    question_AJAX_request();
</script>
</body>
</html>