<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Activity</title>
    <th:block th:replace="admin/admin_partials :: links_and_scripts" ></th:block>
</head>
<body>

    <th:block th:replace="admin/admin_partials :: admin_navbar_adminview">

    </th:block>

    <header>
        <h1 class="center">User Activities</h1>
    </header>

    <main id="activityFeed" class="container"></main>

<script>
    adminActivityAjax();
</script>
</body>
</html>