<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Activity</title>
    <th:block th:replace="admin/admin_partials :: links_and_scripts" ></th:block>
</head>
<body>

    <th:block th:replace="admin/admin_partials :: admin_navbar_adminview">

    </th:block>

    <div class="row container">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#activity">Activities</a></li>
                <li class="tab col s3"><a href="#questions">Questions</a></li>
                <li class="tab col s3"><a href="#users">Users</a></li>
                <li class="tab col s3"><a href="#backup">Backups</a></li>
            </ul>
        </div>
        <div id="activity" class="col s12"><div id="activityFeed"></div></div>
        <div id="questions" class="col s12"><div id="questionsList"></div></div>
        <div id="users" class="col s12"><div id="UsersList">Users will appear Here</div></div>
        <div id="backup" class="col s12"><div id="backupTab">Backup Links will appear here</div></div>
    </div>





<script>
    M.AutoInit();
    adminActivityAjax();
    adminQuestionsAjax();
</script>
</body>
</html>