<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Questions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<th:block th:replace="admin/admin_partials :: admin_navbar">

</th:block>

    <header>
        <h1 class="center">Create a question</h1>
    </header>

    <div class="container">

    <form th:action="@{/CreateQuestion}" method="post">
        <label for="subject">Subject</label>
        <input id="subject"  name="subject" placeholder="Array Manipulation" type="text">

        <label for="language">Language</label>
        <input id="language"  name="language" placeholder="JavaScript" type="text">

        <label for="level">Level</label>
        <input id="level" name="level" placeholder="2" type="number">

        <label for="question">Question HTML Format</label>
        <input id="question" name="question" placeholder="<p> How would you remove an element of an array? </p>" type="text">

        <label for="solution">Solution HTML Format</label>
        <input id="solution" name="solution" placeholder="<p> We could use POP, SPLICE, or SHIFT </p>" type="text">

        <label for="resource">Resource</label>
        <input id="resource" name="resource" placeholder="https://java.codeup.com/javascript-i/arrays/manipulating/" type="url">

            <label for="solution_video">Solution Video ID<a class="modal-trigger" data-target="modal1"  href="#modal1">What is this?</a></label>
            <input id="solution_video" name="solution_video" placeholder="oigfaZ5ApsM" type="text">

        <div id="modal1" class="modal">
            <div class="modal-content">
                <h2>YouTube Video ID</h2>
                <p>The YouTube video ID is the series of characters that follows "v=" as shown in the image below.</p>
                <br/>
                <img class="responsive-img" th:src="@{/static/Images/Video_ID_help.png}" alt="VideoIDImage">
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Okay</a>
            </div>
        </div>




        <input class="btn right light-green darken-2" style="margin-top: 10px" type="submit">
    </form>



    </div>

    <script>
        M.AutoInit();

    </script>

</body>
</html>