<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Questions</title>
    <th:block th:replace="admin/admin_partials :: links_and_scripts" ></th:block>
</head>
<body class="overflow">

<th:block th:replace="admin/admin_partials :: admin_navbar_create">

</th:block>

    <div id="questionPreview" class="modal noScrollBar">
        <div class="modal-content noScrollBar" style="height: auto">
            <h5 class="center">Preview</h5>
            <div class="row">
                <div class="col s12 ">
                    <ul class="tabs">
                        <li class="tab col s4"><a href="#test1" class="light-green-text text-darken-1 active">Question</a></li>
                        <li class="tab col s4"><a href="#test2" class="light-green-text text-darken-1">Answer</a></li>
                        <li class="tab col s4"><a href="#test4" class="light-green-text text-darken-1">Video</a></li>
                        <li class="indicator" style="left: 0px; right: 450px;"></li></ul>
                </div>
                <div id="test1" class="col s12 active" style="display: block;"><br><pre>Question</pre></div>
                <div id="test2" class="col s12" style="display: none;"><br><pre>Solution</pre></div>
                <div id="test4" class="col s12" style="display: none;"><div class="video-container">
                    <iframe width="50%" height="300px" src="https://www.youtube.com/embed/xjW-isgOijs" frameborder="0" allowfullscreen=""></iframe>
                </div></div>
            </div>
        </div>
    </div>

    <header>
        <h1 class="center">Create a question</h1>
    </header>

    <div class="container">

    <form th:action="@{/CreateQuestion}" method="post">
        <label for="subject">Subject</label>
        <input id="subject"  name="subject" placeholder="Array Manipulation" type="text">

        <label for="language">Language</label>
        <input id="language"  name="language" placeholder="JavaScript" type="text">

        <label for="level">Level</label>
        <input id="level" name="level" placeholder="2" type="number">

        <label for="question">Question HTML Format</label>
        <div class="switch">
            <label>
                HTML
                <input type="checkbox" id="questionFormatType">
                <span class="lever"></span>
                Display Code
            </label>
        </div>
        <textarea style="white-space: pre-wrap;" class="materialize-textarea"  id="question" name="question" placeholder="<p> How would you remove an element of an array? </p>" type="text"></textarea>

        <input type="hidden" style="white-space: pre-wrap;" id="questionFormatted" name="questionFormatted">

        <label  for="solution">Solution HTML Format</label>
        <div class="switch">
            <label>
                HTML
                <input type="checkbox" id="solutionFormatType">
                <span class="lever"></span>
                Display Code
            </label>
        </div>
        <textarea style="white-space: pre-wrap;" class="materialize-textarea"  id="solution" name="solution" placeholder="<p> We could use POP, SPLICE, or SHIFT </p>"></textarea>

        <input type="hidden" style="white-space: pre-wrap;" id="solutionFormatted" name="solutionFormatted">

        <label for="resource">Resource</label>
        <input  id="resource" name="resource" placeholder="https://java.codeup.com/javascript-i/arrays/manipulating/" type="url">

            <label for="solution_video_url">Youtube Video url</label>
            <input id="solution_video_url" name="solution_video_url" placeholder="https://www.youtube.com/watch?v=eIrMbAQSU34" type="text">

        <input id="solution_video" name="solution_video" type="hidden">

        <a class="modal-trigger btn left light-green darken-2 signup_input" id="previewmodal" href="#questionPreview">Preview</a>

        <input class="btn right light-green darken-2 signup_input" type="submit">
    </form>



    </div>

    <script>
        M.AutoInit();
        generatePreviewModal();
    </script>

</body>
</html>