<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Questions</title>
    <th:block th:replace="admin/admin_partials :: links_and_scripts" ></th:block>
</head>
<body>

<th:block th:replace="admin/admin_partials :: admin_navbar_create">

</th:block>

    <div id="questionPreview" class="modal noScrollBar">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>

    <header>
        <h1 class="center">Create a question</h1>
    </header>

    <div class="container">

    <form th:action="@{/CreateQuestion}" method="post">
        <label for="subject">Subject</label>
        <input id="subject"  name="subject" placeholder="Array Manipulation" type="text">

        <label for="language">Language</label>
        <input id="language"  name="language" placeholder="JavaScript" type="text" class="autocomplete">

        <label for="level">Level</label>
        <input id="level" name="level" placeholder="2" type="number">

        <label for="question">Question HTML Format</label>
        <div class="switch">
            <label>
                HTML
                <input type="checkbox" id="questionFormatType">
                <span class="lever"></span>
                Display Code
            </label>
        </div>
        <textarea style="white-space: pre-wrap;" class="materialize-textarea"  id="question" name="question" placeholder="<p> How would you remove an element of an array? </p>" type="text"></textarea>

        <input type="hidden" style="white-space: pre-wrap;" id="questionFormatted" name="questionFormatted">

        <label  for="solution">Solution HTML Format</label>
        <div class="switch">
            <label>
                HTML
                <input type="checkbox" id="solutionFormatType">
                <span class="lever"></span>
                Display Code
            </label>
        </div>
        <textarea style="white-space: pre-wrap;" class="materialize-textarea"  id="solution" name="solution" placeholder="<p> We could use POP, SPLICE, or SHIFT </p>"></textarea>

        <input type="hidden" style="white-space: pre-wrap;" id="solutionFormatted" name="solutionFormatted">

        <label for="resource">Resource</label>
        <input  id="resource" name="resource" placeholder="https://java.codeup.com/javascript-i/arrays/manipulating/" type="url">

            <label for="solution_video">Solution Video ID<a class="modal-trigger" data-target="modal1"  href="#modal1">What is this?</a></label>
            <input id="solution_video" name="solution_video" placeholder="oigfaZ5ApsM" type="text">

        <div id="modal1" class="modal">
            <div class="modal-content">
                <h2>YouTube Video ID</h2>
                <p>The YouTube video ID is the series of characters that follows "v=" as shown in the image below.</p>
                <br/>
                <img class="responsive-img" th:src="@{/static/Images/Video_ID_help.png}" alt="VideoIDImage">
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Okay</a>
            </div>
        </div>

        <a class="modal-trigger btn left light-green darken-2 signup_input" id="previewmodal" href="#questionPreview">Preview</a>

        <input class="btn right light-green darken-2 signup_input" type="submit">
    </form>



    </div>

    <script>
        M.AutoInit();
        PreHTMLGeneration();
        generatePreviewModal();
    </script>

</body>
</html>