<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <title>Home</title>
    <!-- include stylesheets, etc here -->
</head>
<body>

    <th:block th:fragment="links_and_scripts">
        <link rel="stylesheet" th:href="@{css/materialize.css}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" th:href="@{css/general.css}">
        <script th:src="@{JS/materialize.js}"></script>
        <script th:src="@{JS/jquery_min.js}"></script>
        <script th:src="@{JS/general.js}"></script>
    </th:block>

    <th:block th:fragment="user_navbar">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper light-green darken-2">
                    <a href="#" class="brand-logo center">MockPrep</a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a href="/home">Home</a></li>
                        <li class="active"><a href="/Questions">Questions</a></li>
                    </ul>
                    <ul class="right hide-on-med-and-down">
                        <li class="logout">
                            <form class="right" th:action="@{/logout}" th:method="post">
                                <button class="hover white-text waves-effect waves-light btn-flat">Logout</button>
                            </form>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </th:block>


    <th:block th:fragment="user_navbar_questions">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper light-green darken-2">
                    <a href="#" class="brand-logo center">MockPrep</a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a href="/home">Home</a></li>
                        <li class="active"><a href="/Questions">Questions</a></li>
                    </ul>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <form id="search_form">
                                <div class="input-field">
                                    <input id="search_term" type="search">
                                    <label class="label-icon" for="search_term"><i class="material-icons">search</i></label>

                                </div>
                            </form>
                        </li>
                        <li class="logout">
                            <form th:action="@{/logout}" th:method="post">
                                <button class="hover white-text waves-effect waves-light btn-flat">Logout</button>
                            </form>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </th:block>


</body>
</html>