<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Questions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        .modal{
            overflow-y: hidden;
        }

        .logout:hover {
            background-color: rgba(0, 0, 0, 0.1) !important;
        }
    </style>


</head>
<body>

<div id="optionsmodal" class="modal">
    <div class="modal-content">
        <h4>Filter Results</h4>
        <form action="">
            <div class="row">
                <div class="input-field col s9">
                    <input id="search_term" type="text" class="validate">
                    <label for="search_term">Search Questions</label>
                </div>
                <div class="input-field col s3">
                    <a href="#!" class="waves-effect waves-light modal-close btn light-green darken-2">Search</a>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select multiple>
                        <option value="1">HTML</option>
                        <option value="2">CSS</option>
                        <option value="3">JavaScript</option>
                    </select>
                    <label>Languages</label>
                </div>

                <div class="input-field col s6">
                    <select multiple>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <label>Level of Difficulty</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat left">Apply</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>

<th:block th:replace="user/user_partials :: user_navbar_questions">

</th:block>

<div id="question_modal" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>




<main id="question_feed">
    <div style="position: fixed; top: 50%; left: 50%; margin-top: -50px; margin-left: -50px">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle">
                    </div>
                </div>
                <div class="gap-patch">
                    <div class="circle">
                    </div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle">
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


<script>


    let QuestionObject;


        (function($) {
            let request = $.ajax({'url': '/questions.json'});
            request.done(function (questions) {
                QuestionObject = questions;
                let html = '<div class="container" style="position: relative; top: 30px">';
                let i = 0;
                questions.forEach(function(question) {
                    if(i % 2 === 0){
                        html += '<div class="row">';
                    }

                    html +=     '<div class="col s12 m6 l6">';
                    html +=         '<div class="card light-green ">';
                    html +=             '<div class="card-content white-text">';
                    html +=             '<span class="card-title">' + question.title + '</span>'
                    html +=             '<p>' + question.question + '</p>';
                    html +=             '</div>';
                    html +=             '<div class="card-action light-green lighten-3">'
                    html +=             '<a href="#question_modal" data-id="' + i + '" class="modal-trigger grey-text text-darken-1 question-selector bold">Try It Out</a>'
                    html +=             '</div>'
                    html +=         '</div>';
                    html +=     '</div>';

                    if (i % 2 === 1 || i === questions.size ){
                        html += '</div>';
                    }
                    i++;
                });
                html += '</div>';

                console.log("about to add question feed")
                $('#question_feed').html(html);
                console.log("added question fee")



                function createQuestion() {

                    console.log("before selector")


                    $('.question-selector').click(function () {

                        console.log("after selector")

                        let question_id = parseInt($(this).attr("data-id"));
                        let youtube_video = `<div class="video-container"><iframe width="50%" height="300px" src="https://www.youtube.com/embed/${QuestionObject[question_id].gif_url}" frameborder="0" allowfullscreen></iframe></div>`;
                        let question = `<br/><h4>${QuestionObject[question_id].title}</h4><p>${QuestionObject[question_id].question}</p>`;
                        let answer = `<br/><h4>${QuestionObject[question_id].title}</h4><p>${QuestionObject[question_id].solution}</p>`

                        let modal_footer = `<div class="modal-footer"><a href="#question_modal" data-id="${question_id - 1}" class="modal-trigger waves-effect waves-green btn-flat left question-selector">Previous</a><a href="#question_modal" data-id="${question_id + 1}" class="modal-trigger waves-effect waves-green btn-flat right question-selector">Next</a></div>`;
                        if (question_id === 0) {
                            modal_footer = `<div class="modal-footer"><a href="#question_modal"  data-id="${question_id + 1}" class="modal-trigger waves-effect waves-green btn-flat right question-selector">Next</a></div>`;
                        } else if (question_id === QuestionObject.length - 1) {
                            modal_footer = `<div class="modal-footer"><a href="#question_modal" data-id="${question_id - 1}" class="modal-trigger waves-effect waves-green btn-flat left question-selector">Previous</a></div>`;
                        }


                        let tabs = `<div class="modal-content" style="overflow: hidden" >
                                     <div class="row">
                                      <div class="col s12 ">
                                        <ul class="tabs" style="overflow: hidden" >
                                          <li class="tab col s4"><a href="#test1" class="active light-green-text text-darken-1">Question</a></li>
                                          <li class="tab col s4"><a href="#test2" class="light-green-text text-darken-1">Answer</a></li>
                                          <li class="tab col s4"><a href="#test4" class="light-green-text text-darken-1">Video</a></li>
                                        </ul>
                                      </div >
                                      <div id="test1" class="col s12">${question}</div>
                                      <div id="test2" class="col s12">${answer}</div>
                                      <div id="test4" class="col s12">${youtube_video}</div>
                                    </div>
                                    ${modal_footer}
                                    </div>`;

                        $('#question_modal').html(tabs);


                        M.AutoInit();

                        $('#question_modal').addClass("no-autoinit");

                        console.log("calling createQuestion agian")



                        // This is where Submission of selecting a new question will go
                        // function selectedNewQuestison(question_ID) {
                        //     $.ajax({
                        //         type: "POST",
                        //         url: "/SelectQuestion"
                        //     })
                        // }

                    });

                }



                // createQuestion();

            });
        })(jQuery);

    do {
        $('.question-selector').click(function () {

            console.log("after selector")

            let question_id = parseInt($(this).attr("data-id"));
            let youtube_video = `<div class="video-container"><iframe width="50%" height="300px" src="https://www.youtube.com/embed/${QuestionObject[question_id].gif_url}" frameborder="0" allowfullscreen></iframe></div>`;
            let question = `<br/><h4>${QuestionObject[question_id].title}</h4><p>${QuestionObject[question_id].question}</p>`;
            let answer = `<br/><h4>${QuestionObject[question_id].title}</h4><p>${QuestionObject[question_id].solution}</p>`

            let modal_footer = `<div class="modal-footer"><a href="#question_modal" data-id="${question_id - 1}" class="modal-trigger waves-effect waves-green btn-flat left question-selector">Previous</a><a href="#question_modal" data-id="${question_id + 1}" class="modal-trigger waves-effect waves-green btn-flat right question-selector">Next</a></div>`;
            if (question_id === 0) {
                modal_footer = `<div class="modal-footer"><a href="#question_modal"  data-id="${question_id + 1}" class="modal-trigger waves-effect waves-green btn-flat right question-selector">Next</a></div>`;
            } else if (question_id === QuestionObject.length - 1) {
                modal_footer = `<div class="modal-footer"><a href="#question_modal" data-id="${question_id - 1}" class="modal-trigger waves-effect waves-green btn-flat left question-selector">Previous</a></div>`;
            }


            let tabs = `<div class="modal-content" style="overflow: hidden" >
                                     <div class="row">
                                      <div class="col s12 ">
                                        <ul class="tabs" style="overflow: hidden" >
                                          <li class="tab col s4"><a href="#test1" class="active light-green-text text-darken-1">Question</a></li>
                                          <li class="tab col s4"><a href="#test2" class="light-green-text text-darken-1">Answer</a></li>
                                          <li class="tab col s4"><a href="#test4" class="light-green-text text-darken-1">Video</a></li>
                                        </ul>
                                      </div >
                                      <div id="test1" class="col s12">${question}</div>
                                      <div id="test2" class="col s12">${answer}</div>
                                      <div id="test4" class="col s12">${youtube_video}</div>
                                    </div>
                                    ${modal_footer}
                                    </div>`;

            $('#question_modal').html(tabs);


            M.AutoInit();

            $('#question_modal').addClass("no-autoinit");

            console.log("calling createQuestion agian")


        });
    }while (true)



    M.AutoInit();





</script>
</body>
</html>