<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Getting Started</h1>
<ol>
    <li>Go to environment where you can focus</li>
    <li>Get a white board, this could just be a pen and paper</li>
    <li>Click on the Questions Tab</li>
    <li>Refine questions you want to test yourself with.</li>
    <li>Click on a question</li>
    <li>White board the question given to you.</li>
    <li>Look at Solution to compare results</li>
    <li>Watch Video if necessary to get further exclamation</li>
    <li>Repeat this process to further improve your white boarding skills</li>
</ol>
</body>
</html>