<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Questions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<th:block th:replace="anonymousUser/anonymous_partials :: anonymousUser_navbar">

</th:block>

<header>
    <h1>Welcome to MockPrep</h1>

    <h2>MockPrep is a resource for CodeUp Students who want to get the interview right.</h2>
</header>

<main>
    <p>So how does MockPrep work?</p>
    <p>MockPrep is a self guided white boarding tool for you to practice white boarding.</p>
</main>



</body>
</html>