<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Questions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<th:block th:replace="anonymousUser/anonymous_partials :: anonymousUser_navbar">

</th:block>

<header>
    <h1 class="center">Login</h1>
    <div class="center red-text" th:if="${param.error}">
        Invalid Username or Password.
    </div>
    <div class="center red-green" th:if="${param.logout}">
        You have been logged out.
    </div>
</header>

<div class="container">

    <form th:action="@{/login}" method="post">

        <div class="input-field col s6">
            <label for="username">Username</label>
            <input id="username" name="username" type="text">
        </div>

        <div class="input-field col s6">
            <label for="password">Password</label>
            <input id="password" name="password" type="password">
        </div>


        <input class="btn right light-green darken-2" id="submit_button" style="margin-top: 10px" type="submit">
    </form>



</div>

<script>
    M.AutoInit();


</script>

</body>
</html>